body {
  background-color: black;
  background-image: url("../Mejorado/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.formulario {
  background-color: transparent;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #212121;
  padding: 2%;
  color: white;
  border-radius: 70px;
}

h2 {
  padding: 1%;
  color: white;
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 70px;
}
.persona {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nombre {
  margin: 30px;
}
.costo {
  margin: 30px;
}
.promedio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#resultados {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  color: white;
  padding: 1%;
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#boton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 25px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.persona {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 25vw;
}
.nombre {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding: 0;
}
.costo {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding: 0;
}
.promedio {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  text-align: center;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}
.cerrar {
  background-image:url("/Mejorado/cerrarr.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 30px;
  width: 30px;
  
}
@media (max-width: 1250px) {
  body {
    background-size: contain;
  }
}
